body {
    background-color: darkslateblue;
    font-size: 18px;
    width: 100%;
}

#main {
    background-color: white;
    width:40%;
    padding: 3rem;
    margin: 0 auto;
    align-content: center;
    border-radius: 5%;
    box-shadow: slategray;
}

li {
    list-style: none;
}


/* ************************************* MEDIA QUERIES ************************************* */