body {
    background-image: url(images/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
}

#main {
    background-color: white;
    width:40%;
    padding: 3rem;
    margin: 0 auto;
    align-content: center;
    border-radius: 5%;
    box-shadow: slategray;
}

#survey-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

#title-div {
    text-align: center;
}

.textbox {
    width: 100%;
}

li {
    list-style: none;
}


/* ************************************* MEDIA QUERIES ************************************* */